In [ ]:
import geopandas as gpd
from shapely.geometry import Point

In [ ]:
import pandas as pd
import numpy as np
import fiona

# 데이터 통합

## 인구정보 + 건물연면적

In [ ]:
#C:\Users\Administrator\Downloads\SBJ_2012_002
df3 = gpd.read_file('input/3.용인시_인구정보(총인구수)_격자.geojson', encoding='cp949')
df3.loc[df3['val'].apply(pd.isna), 'val'] = 0
df3.columns=['gid','총인구수','geometry']
df3.head()

        gid  총인구수                                           geometry
0  다바661999   0.0  MULTIPOLYGON (((127.11851 37.09713, 127.11851 ...
1  다바662996   0.0  MULTIPOLYGON (((127.11965 37.09443, 127.11965 ...
2  다바662997   0.0  MULTIPOLYGON (((127.11965 37.09533, 127.11964 ...
3  다바662998   0.0  MULTIPOLYGON (((127.11964 37.09623, 127.11964 ...
4  다바662999   0.0  MULTIPOLYGON (((127.11964 37.09713, 127.11963 ...

In [ ]:
df4=gpd.read_file('input/4.용인시_인구정보(고령)_격자.geojson')
df4.loc[df4['val'].apply(pd.isna), 'val'] = 0
df4.columns=['gid','고령인구수','geometry']
df4.head()

        gid  고령인구수                                           geometry
0  다바661999    0.0  MULTIPOLYGON (((127.11851 37.09713, 127.11851 ...
1  다바662996    0.0  MULTIPOLYGON (((127.11965 37.09443, 127.11965 ...
2  다바662997    0.0  MULTIPOLYGON (((127.11965 37.09533, 127.11964 ...
3  다바662998    0.0  MULTIPOLYGON (((127.11964 37.09623, 127.11964 ...
4  다바662999    0.0  MULTIPOLYGON (((127.11964 37.09713, 127.11963 ...

In [ ]:
df5= gpd.read_file('input/5.용인시_인구정보(생산가능)_격자.geojson', encoding='cp949')
df5.loc[df5['val'].apply(pd.isna), 'val'] = 0
df5.columns=['gid','생산가능인구수','geometry']
df5.head()

        gid  생산가능인구수                                           geometry
0  다바661999      0.0  MULTIPOLYGON (((127.11851 37.09713, 127.11851 ...
1  다바662996      0.0  MULTIPOLYGON (((127.11965 37.09443, 127.11965 ...
2  다바662997      0.0  MULTIPOLYGON (((127.11965 37.09533, 127.11964 ...
3  다바662998      0.0  MULTIPOLYGON (((127.11964 37.09623, 127.11964 ...
4  다바662999      0.0  MULTIPOLYGON (((127.11964 37.09713, 127.11963 ...

In [ ]:
df6= gpd.read_file('input/6.용인시_인구정보(유소년)_격자.geojson', encoding='cp949')
df6.loc[df6['val'].apply(pd.isna), 'val'] = 0
df6.columns=['gid','유소년인구수','geometry']
df6.head()

        gid  유소년인구수                                           geometry
0  다바661999     0.0  MULTIPOLYGON (((127.11851 37.09713, 127.11851 ...
1  다바662996     0.0  MULTIPOLYGON (((127.11965 37.09443, 127.11965 ...
2  다바662997     0.0  MULTIPOLYGON (((127.11965 37.09533, 127.11964 ...
3  다바662998     0.0  MULTIPOLYGON (((127.11964 37.09623, 127.11964 ...
4  다바662999     0.0  MULTIPOLYGON (((127.11964 37.09713, 127.11963 ...

In [ ]:
df_p=df3.merge(df4, on='gid')
df_p.head()

,gid,총인구수,geometry_x,고령인구수,geometry_y
0,다바661999,0.0,"MULTIPOLYGON (((127.11851 37.09713, 127.11851 ...",0.0,"MULTIPOLYGON (((127.11851 37.09713, 127.11851 ..."
1,다바662996,0.0,"MULTIPOLYGON (((127.11965 37.09443, 127.11965 ...",0.0,"MULTIPOLYGON (((127.11965 37.09443, 127.11965 ..."
2,다바662997,0.0,"MULTIPOLYGON (((127.11965 37.09533, 127.11964 ...",0.0,"MULTIPOLYGON (((127.11965 37.09533, 127.11964 ..."
3,다바662998,0.0,"MULTIPOLYGON (((127.11964 37.09623, 127.11964 ...",0.0,"MULTIPOLYGON (((127.11964 37.09623, 127.11964 ..."
4,다바662999,0.0,"MULTIPOLYGON (((127.11964 37.09713, 127.11963 ...",0.0,"MULTIPOLYGON (((127.11964 37.09713, 127.11963 ..."

In [ ]:
df_p=df_p.merge(df5,on='gid')
df_p=df_p.merge(df6,on='gid')

In [ ]:
df_p.head()

,gid,총인구수,geometry_x,고령인구수,geometry_y,생산가능인구수,geometry_x,유소년인구수,geometry_y
0,다바661999,0.0,"MULTIPOLYGON (((127.11851 37.09713, 127.11851 ...",0.0,"MULTIPOLYGON (((127.11851 37.09713, 127.11851 ...",0.0,"MULTIPOLYGON (((127.11851 37.09713, 127.11851 ...",0.0,"MULTIPOLYGON (((127.11851 37.09713, 127.11851 ..."
1,다바662996,0.0,"MULTIPOLYGON (((127.11965 37.09443, 127.11965 ...",0.0,"MULTIPOLYGON (((127.11965 37.09443, 127.11965 ...",0.0,"MULTIPOLYGON (((127.11965 37.09443, 127.11965 ...",0.0,"MULTIPOLYGON (((127.11965 37.09443, 127.11965 ..."
2,다바662997,0.0,"MULTIPOLYGON (((127.11965 37.09533, 127.11964 ...",0.0,"MULTIPOLYGON (((127.11965 37.09533, 127.11964 ...",0.0,"MULTIPOLYGON (((127.11965 37.09533, 127.11964 ...",0.0,"MULTIPOLYGON (((127.11965 37.09533, 127.11964 ..."
3,다바662998,0.0,"MULTIPOLYGON (((127.11964 37.09623, 127.11964 ...",0.0,"MULTIPOLYGON (((127.11964 37.09623, 127.11964 ...",0.0,"MULTIPOLYGON (((127.11964 37.09623, 127.11964 ...",0.0,"MULTIPOLYGON (((127.11964 37.09623, 127.11964 ..."
4,다바662999,0.0,"MULTIPOLYGON (((127.11964 37.09713, 127.11963 ...",0.0,"MULTIPOLYGON (((127.11964 37.09713, 127.11963 ...",0.0,"MULTIPOLYGON (((127.11964 37.09713, 127.11963 ...",0.0,"MULTIPOLYGON (((127.11964 37.09713, 127.11963 ..."

In [ ]:
del df_p["geometry_y"]
df_p.columns=['gid','all_cnt','geometry','old_cnt','adult_cnt','geo','young_cnt']
del df_p["geo"]

In [ ]:
df_p.head()

,gid,all_cnt,geometry,old_cnt,adult_cnt,young_cnt
0,다바661999,0.0,"MULTIPOLYGON (((127.11851 37.09713, 127.11851 ...",0.0,0.0,0.0
1,다바662996,0.0,"MULTIPOLYGON (((127.11965 37.09443, 127.11965 ...",0.0,0.0,0.0
2,다바662997,0.0,"MULTIPOLYGON (((127.11965 37.09533, 127.11964 ...",0.0,0.0,0.0
3,다바662998,0.0,"MULTIPOLYGON (((127.11964 37.09623, 127.11964 ...",0.0,0.0,0.0
4,다바662999,0.0,"MULTIPOLYGON (((127.11964 37.09713, 127.11963 ...",0.0,0.0,0.0

In [ ]:
df10= gpd.read_file('input/10.용인시_건물연면적_격자.geojson', encoding='cp949')
#df10=gpd.read_file(input_path.joinpath('10.용인시_건물연면적_격자.geojson'))
df10.loc[df10['val'].apply(pd.isna), 'val'] = 0
df10.columns=['gid','건물연면적','geometry']
df10.head()

        gid  건물연면적                                           geometry
0  다바661999    0.0  MULTIPOLYGON (((127.11851 37.09713, 127.11851 ...
1  다바662996    0.0  MULTIPOLYGON (((127.11965 37.09443, 127.11965 ...
2  다바662997    0.0  MULTIPOLYGON (((127.11965 37.09533, 127.11964 ...
3  다바662998    0.0  MULTIPOLYGON (((127.11964 37.09623, 127.11964 ...
4  다바662999    0.0  MULTIPOLYGON (((127.11964 37.09713, 127.11963 ...

In [ ]:
df_p=df_p.merge(df10,on='gid')
del df_p['geometry_y']
df_p.columns=['gid','all_cnt','geometry','old_cnt','adult_cnt','young_cnt','건물연면적']

In [ ]:
df_p.head()#df_p는 3456 +10 병합

,gid,all_cnt,geometry,old_cnt,adult_cnt,young_cnt,건물연면적
0,다바661999,0.0,"MULTIPOLYGON (((127.11851 37.09713, 127.11851 ...",0.0,0.0,0.0,0.0
1,다바662996,0.0,"MULTIPOLYGON (((127.11965 37.09443, 127.11965 ...",0.0,0.0,0.0,0.0
2,다바662997,0.0,"MULTIPOLYGON (((127.11965 37.09533, 127.11964 ...",0.0,0.0,0.0,0.0
3,다바662998,0.0,"MULTIPOLYGON (((127.11964 37.09623, 127.11964 ...",0.0,0.0,0.0,0.0
4,다바662999,0.0,"MULTIPOLYGON (((127.11964 37.09713, 127.11963 ...",0.0,0.0,0.0,0.0

### 500 격자로 통합

In [ ]:
grid100 = pd.read_csv('grid100to500.csv')
grid100.head()

     gid100    gid500
0  다사930045  다사93a04b
1  다사930046  다사93a04b
2  다사930047  다사93a04b
3  다사930048  다사93a04b
4  다사930049  다사93a04b

In [ ]:
temp = pd.merge(df_p,grid100,left_on='gid',right_on='gid100')
fin_df_p = temp.groupby('gid500').sum().reset_index()
fin_df_p

        gid500  all_cnt  old_cnt  adult_cnt  young_cnt    건물연면적
0     다바66a99a      0.0      0.0        0.0        0.0     0.00
1     다바66a99b      0.0      0.0        0.0        0.0     0.00
2     다바66b99a     88.0     13.0       56.0        0.0  1781.97
3     다바66b99b      0.0      0.0        0.0        0.0   182.80
4     다바67a99a      0.0      0.0        0.0        0.0     0.00
...        ...      ...      ...        ...        ...      ...
2585  다사93a04b      0.0      0.0        0.0        0.0     0.00
2586  다사93a05a      0.0      0.0        0.0        0.0     0.00
2587  다사93a05b      0.0      0.0        0.0        0.0     0.00
2588  다사93b05a      0.0      0.0        0.0        0.0     0.00
2589  다아65a18a      0.0      0.0        0.0        0.0     0.00

[2590 rows x 6 columns]

## 소상공인 매출

In [ ]:
df16 = gpd.read_file('input/16.용인시_소상공인_매출정보.geojson')
# df17 = pd.read_csv('input/17.용인시_소상공인_매출정보.csv')
df16 = df16.fillna(0)
df16.head(n=3)

,gid,ws_cnt,found_age_1,found_age_2,found_age_3,found_age_4,found_age_5,found_age_6,runout_cnt,smbiz_yn_cnt,...,indcd_m_yn,indcd_n_yn,indcd_o_yn,indcd_p_yn,indcd_q_yn,indcd_r_yn,indcd_s_yn,indcd_t_yn,indcd_u_yn,geometry
0,다바66aa99bb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,"MULTIPOLYGON (((127.11740 37.09577, 127.11738 ..."
1,다바66ab99aa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,"MULTIPOLYGON (((127.12024 37.08902, 127.12023 ..."
2,다바66ab99ab,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,"MULTIPOLYGON (((127.12023 37.09127, 127.12022 ..."

In [ ]:
df16.iloc[:,45:-1] = df16.iloc[:,45:-1].replace('Y',1)
df16.iloc[:,45:-1].sum()

indcd_a_yn      7
indcd_b_yn      0
indcd_c_yn    339
indcd_d_yn      0
indcd_e_yn      0
indcd_f_yn     64
indcd_g_yn    766
indcd_h_yn     71
indcd_i_yn    706
indcd_j_yn     94
indcd_k_yn     10
indcd_l_yn     51
indcd_m_yn    209
indcd_n_yn    187
indcd_o_yn      0
indcd_p_yn    418
indcd_q_yn    262
indcd_r_yn    323
indcd_s_yn    631
indcd_t_yn      4
indcd_u_yn      0
dtype: int64

### 500 격자로 통합

In [ ]:
grid250 = pd.read_csv('grid250to500.csv')
grid250.head()

       gid250    gid500
0  다사93aa04ba  다사93a04b
1  다사93aa04bb  다사93a04b
2  다사93ab04ba  다사93a04b
3  다사93ab04bb  다사93a04b
4  다사71ba13aa  다사71b13a

In [ ]:
temp2 = pd.merge(df16,grid250,left_on='gid',right_on='gid250')
temp2
fin_df_p2 = temp2.groupby('gid500').sum().reset_index()
fin_df_p2.head(3)

,gid500,ws_cnt,found_age_1,found_age_2,found_age_3,found_age_4,found_age_5,found_age_6,runout_cnt,smbiz_yn_cnt,...,indcd_l_yn,indcd_m_yn,indcd_n_yn,indcd_o_yn,indcd_p_yn,indcd_q_yn,indcd_r_yn,indcd_s_yn,indcd_t_yn,indcd_u_yn
0,다바66a99a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,다바66a99b,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,다바66b99a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
len(fin_df_p2)

2590

## 독립변수

In [ ]:
df_val = pd.read_csv('대격자별_독립변수.csv')
df_geo = gpd.read_file('500grid.shp')
df_geo = df_geo[['gid','geometry']]
df_geo.columns = ['gid500','geometry']
df_val.head()

,gid500,cnt_market,cnt_busstop,cnt_subway,cnt_clinic,cnt_hospital,cnt_element_s,cnt_middles_s,cnt_high_s,cnt_university,cnt_landmark
0,다사93a04b,0,0,0,0,0,0,0,0,0,0
1,다사71b13a,0,0,0,0,0,0,0,0,0,0
2,다사80b04a,0,0,0,0,0,0,0,0,0,0
3,다사65a14b,59,6,0,2,0,1,0,0,0,0
4,다사65a21b,109,3,0,0,0,0,0,0,0,0

## 전체 데이터 통합

In [ ]:
temp3 = pd.merge(fin_df_p,fin_df_p2,on='gid500')
temp3 = pd.merge(temp3,df_val,on='gid500')
fin_df = pd.merge(temp3,df_geo,on='gid500')
fin_df.head()

,gid500,all_cnt,old_cnt,adult_cnt,young_cnt,건물연면적,ws_cnt,found_age_1,found_age_2,found_age_3,...,cnt_busstop,cnt_subway,cnt_clinic,cnt_hospital,cnt_element_s,cnt_middles_s,cnt_high_s,cnt_university,cnt_landmark,geometry
0,다바66a99a,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((127.11743 37.08901, 127.11741 37.093..."
1,다바66a99b,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,"POLYGON ((127.11741 37.09352, 127.11738 37.098..."
2,다바66b99a,88.0,13.0,56.0,0.0,1781.97,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,"POLYGON ((127.12306 37.08903, 127.12303 37.093..."
3,다바66b99b,0.0,0.0,0.0,0.0,182.80,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((127.12303 37.09353, 127.12301 37.098..."
4,다바67a99a,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((127.12868 37.08905, 127.12866 37.093..."

In [ ]:
# fin_df.to_csv('fin_df.csv',index=False)

## 최종 데이터 geojson 파일로 저장

In [ ]:
fin_gdf=gpd.GeoDataFrame(fin_df)
fin_gdf.to_file('fin_df.geojson', driver='GeoJSON')

In [ ]:
fin_df.iloc[:,50:]

      indcd_a_yn  indcd_b_yn  indcd_c_yn  indcd_d_yn  indcd_e_yn
0              0           0           0           0           0
1              0           0           0           0           0
2              0           0           0           0           0
3              0           0           0           0           0
4              0           0           0           0           0
...          ...         ...         ...         ...         ...
2585           0           0           0           0           0
2586           0           0           0           0           0
2587           0           0           0           0           0
2588           0           0           0           0           0
2589           0           0           0           0           0

[2590 rows x 5 columns]

In [ ]:
gpd.read_file('fin_df.geojson').info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2590 entries, 0 to 2589
Data columns (total 82 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gid500                  2590 non-null   object
 1   all_cnt                 2590 non-null   float64
 2   old_cnt                 2590 non-null   float64
 3   adult_cnt               2590 non-null   float64
 4   young_cnt               2590 non-null   float64
 5   건물연면적                   2590 non-null   float64
 6   ws_cnt                  2590 non-null   float64
 7   found_age_1             2590 non-null   float64
 8   found_age_2             2590 non-null   float64
 9   found_age_3             2590 non-null   float64
 10  found_age_4             2590 non-null   float64
 11  found_age_5             2590 non-null   float64
 12  found_age_6             2590 non-null   float64
 13  runout_cnt              2590 non-null   float64
 14  smbiz_yn_cnt            2590 non-null   float64
 15  rpr_per_gender_m        2590 non-null   float64
 16  rpr_per_gender_f        2590 non-null   float64
 17  rpr_per_age_bin_10      2590 non-null   float64
 18  rpr_per_age_bin_20      2590 non-null   float64
 19  rpr_per_age_bin_30to50  2590 non-null   float64
 20  rpr_per_age_bin_50over  2590 non-null   float64
 21  sme_loan_cnt            2590 non-null   float64
 22  sme_loan_y_1            2590 non-null   float64
 23  sme_loan_y_2            2590 non-null   float64
 24  sme_loan_y_3            2590 non-null   float64
 25  sme_loan_y_4            2590 non-null   float64
 26  sme_loan_y_5            2590 non-null   float64
 27  sme_loan_y_6            2590 non-null   float64
 28  sales_est_amt_201703    2590 non-null   float64
 29  sales_est_amt_201706    2590 non-null   float64
 30  sales_est_amt_201709    2590 non-null   float64
 31  sales_est_amt_201712    2590 non-null   float64
 32  sales_est_amt_201803    2590 non-null   float64
 33  sales_est_amt_201806    2590 non-null   float64
 34  sales_est_amt_201809    2590 non-null   float64
 35  sales_est_amt_201812    2590 non-null   float64
 36  sales_est_amt_201903    2590 non-null   float64
 37  sales_est_amt_201906    2590 non-null   float64
 38  sales_est_amt_201909    2590 non-null   float64
 39  sales_est_amt_201912    2590 non-null   float64
 40  sales_est_amt_202003    2590 non-null   float64
 41  sales_est_amt_202006    2590 non-null   float64
 42  sales_est_amt_202009    2590 non-null   float64
 43  age10_ratio             2590 non-null   float64
 44  age20_ratio             2590 non-null   float64
 45  age30_ratio             2590 non-null   float64
 46  age40_ratio             2590 non-null   float64
 47  age50_ratio             2590 non-null   float64
 48  age60_ratio             2590 non-null   float64
 49  age70_ratio             2590 non-null   float64
 50  indcd_a_yn              2590 non-null   int64
 51  indcd_b_yn              2590 non-null   int64
 52  indcd_c_yn              2590 non-null   int64
 53  indcd_d_yn              2590 non-null   int64
 54  indcd_e_yn              2590 non-null   int64
 55  indcd_f_yn              2590 non-null   int64
 56  indcd_g_yn              2590 non-null   int64
 57  indcd_h_yn              2590 non-null   int64
 58  indcd_i_yn              2590 non-null   int64
 59  indcd_j_yn              2590 non-null   int64
 60  indcd_k_yn              2590 non-null   int64
 61  indcd_l_yn              2590 non-null   int64
 62  indcd_m_yn              2590 non-null   int64
 63  indcd_n_yn              2590 non-null   int64
 64  indcd_o_yn              2590 non-null   int64
 65  indcd_p_yn              2590 non-null   int64
 66  indcd_q_yn              2590 non-null   int64
 67  indcd_r_yn              2590 non-null   int64
 68  indcd_s_yn              2590 non-null   int64
 69  indcd_t_yn              2590 non-null   int64
 70  indcd_u_yn              2590 non-null   int64
 71  cnt_market              2590 non-null   int64
 72  cnt_busstop             2590 non-null   int64
 73  cnt_subway              2590 non-null   int64
 74  cnt_clinic              2590 non-null   int64
 75  cnt_hospital            2590 non-null   int64
 76  cnt_element_s           2590 non-null   int64
 77  cnt_middles_s           2590 non-null   int64
 78  cnt_high_s              2590 non-null   int64
 79  cnt_university          2590 non-null   int64
 80  cnt_landmark            2590 non-null   int64
 81  geometry                2590 non-null   geometry
dtypes: float64(49), geometry(1), int64(31), object(1)
memory usage: 1.6+ MB